body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0decd;
}

/* Header and navigation */
header {
    background-color: #8a0303;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-around   ;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-left: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

/* main content */
.content-block {
    display: flex;
    max-width: 70%;
    margin:auto;
    margin-top: 120px; 
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #000000;

    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: space-evenly;
    /* flex-wrap: wrap; */

    /* justify-content: space-around; */
    /* text-align: center; */
}

.content-block h2 {
    color: #333;
    font-size: 3em;
}
.content-block h1{
    font-size: 5em;
}
.content-block img{
    padding: 20px;
    max-width: 50%;
    height: auto;
    align-self: center;
    /* background-color: #000000; */

}
.content-block #about, .content-block .image{
    padding: 20px;
    width: 50%;
    height: auto;
    align-self: center;



}
@media screen and (max-width: 768px) {
    .content-block {
        flex-direction: column;
    }
    
}
.me-fact{
    font-size: 1.3em;
    color: #333;

}
.content-block p {
    color: #666;
    line-height: 1.6;
}
